.input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--text-color-high-emphasis);
    padding: 8px 16px;
    font-size: 18px;
    margin-right: 2em;
    flex: 1;
    min-width: 2em;
    text-overflow: ellipsis;
    background: var(--background-color-hover);
    border-radius: 4px 4px 0 0;
}

.form {
    display: flex;
    margin-bottom: 2em;
}

.button {
    background-color: var(--color-primary);
    color: var(--text-color-contrast);
    box-shadow: var(--box-shadow-elevation-1);
}

.button:hover {
    background-color: var(--color-primary-dark);
    box-shadow: var(--box-shadow-elevation-8);
}