.title {
    margin-left: 1em;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    flex: 1;
    min-width: 2em;
    text-overflow: ellipsis;
}

.editIconClass {
    margin-right: 1em;
}

.remove {
    font-weight: bold;
    color: var(--color-error);
    font-size: 14px;
}