.title {
    margin-left: 1em;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    flex: 1;
    min-width: 2em;
    text-overflow: ellipsis;
}

.edit {
    margin-right: 1em;
}