.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow .3s ease, font-size .3s ease, background-color .3s ease;
    margin: 0 -6px;
    padding: 0 6px;
    border-radius: 4px;
    border: 1px solid transparent;
}

.summary::-webkit-details-marker {
    display: none;
}

.summary:focus {
    border: 1px solid var(--color-complementary)
}

.details {
    background: var(--background-color-elevation-2);
    box-shadow: var(--box-shadow-elevation-2);
    border-radius: 10px;
    padding: 8px 12px;
    transition: background-color .3s ease, box-shadow .3s ease;
}

.details:hover {
    box-shadow: var(--box-shadow-elevation-4);
    background: var(--background-color-elevation-4);
}

.disabledClass {
    background: var(--background-color-elevation-2-disabled);
    box-shadow: var(--box-shadow-elevation-2-disabled);
}

.disabledClass:hover {
    background: var(--background-color-elevation-8-disabled);
    box-shadow: var(--box-shadow-elevation-8-disabled);
}

.details>p {
    padding: 4px 8px;
    font-style: italic;
    font-size: 18px;
}

.expandIcon {
    transition: transform .3s ease;
    cursor: pointer;
}