.group {
    display: flex;
    font-size: 20px;
    border: 2px solid var(--color-border);
    border-radius: 10px;
    width: max-content;
    overflow: hidden;
}

.group > button {
    border-radius: 0;
    padding: 8px 16px;
}
.group>button:first-child {
    border-radius: 10px 0 0 10px;
}

.group>button:last-child {
    border-radius: 0 10px 10px 0;
}

@media screen and (max-width: 575px) {
    .group {
        width: 100%;
    }

    .group > button {
        width: 100%;
        flex: 1;
    }
}