* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color-primary);
    font-family: Roboto, sans-serif;
    outline: none;
}

button {
    border: 1px solid transparent;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    transition: background-color .2s ease;
    font-size: inherit;
}

button:hover {
    background: var(--background-color-hover);
    transition: background-color .3s ease;
}

button:focus {
    border: 1px solid var(--color-complementary);
}


#root {
    background: var(--background-color-elevation-0);
    transition: background-color .3s ease;
}


.no-pointer-events {
    pointer-events: none;
}

.high-emphasis {
    color: var(--text-color-high-emphasis);
}

.helper {
    color: var(--text-color-helper);
}

.p-0 {
    padding: 0;
}

input[type="checkbox"] {
    min-height: 32px;
    min-width: 32px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    background-color: var(--background-color-elevation-2);
    cursor: pointer;
    position: relative;
}
input[type="checkbox"]:focus {
    border: 1px solid var(--color-complementary)
}

input[type="checkbox"]:checked {
    background-color: var(--color-primary);
}

input[type="checkbox"]:checked:before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    content: '\2714';
    font-weight: 400;
    color: var(--text-color-contrast);
}

.strikethrough {
    text-decoration: line-through;
}

.text-disabled {
    color: var(--text-color-disabled);
}

.high-emphasis-disabled {
    color: var(--text-color-high-emphasis-disabled)
}

.color-inherit {
    color: inherit;
}