:root {
    --color-primary: #34be5b;
    --color-primary-dark: #117c2d;
    --color-primary-light: #86df9d;
    --color-error: #b00020;
    --header-height: 56px;
    --text-color-primary: black;
    --text-color-contrast: #e3e3e3;
    --text-color-high-emphasis: rgba(0, 0, 0, 87%);
    --text-color-high-emphasis-disabled: rgba(0, 0, 0, 33%);
    --text-color-helper: rgba(0, 0, 0, 60%);
    --text-color-disabled: rgba(0, 0, 0, 38%);
    --background-color-elevation-0: white;
    --background-color-elevation-1: none;
    --background-color-elevation-2: none;
    --background-color-elevation-3: none;
    --background-color-elevation-4: none;
    --background-color-elevation-5: none;
    --background-color-elevation-6: none;
    --background-color-elevation-7: none;
    --background-color-elevation-8: none;
    --box-shadow-elevation-1: 0 1px 4px rgba(0, 0, 0, 20%);
    --box-shadow-elevation-2: 0 2px 8px rgba(0, 0, 0, 20%);
    --box-shadow-elevation-2-disabled: 0 2px 8px rgba(0, 0, 0, 7.6%);
    --box-shadow-elevation-3: 0 3px 12px rgba(0, 0, 0, 20%);
    --box-shadow-elevation-4: 0 4px 16px rgba(0, 0, 0, 20%);
    --box-shadow-elevation-5: 0 5px 20px rgba(0, 0, 0, 20%);
    --box-shadow-elevation-6: 0 6px 24px rgba(0, 0, 0, 20%);
    --box-shadow-elevation-7: 0 7px 28px rgba(0, 0, 0, 20%);
    --box-shadow-elevation-8: 0 8px 32px rgba(0, 0, 0, 20%);
    --box-shadow-elevation-8-disabled: 0 8px 32px rgba(0, 0, 0, 7.6%);
    --background-color-hover: rgba(0, 0, 0, 9%);
    --color-border: rgba(227,227,227, 20%);
}

[theme="dark"] {
    --text-color-primary: #e3e3e3;
    --text-color-contrast: black;
    --text-color-high-emphasis: rgba(227, 227, 227, 87%);
    --text-color-high-emphasis-disabled: rgba(227, 227, 227, 33%);
    --text-color-helper: rgba(227, 227, 227, 60%);
    --text-color-disabled: rgba(227, 227, 227, 38%);
    --color-error: #cf6679;
    --background-color-elevation-0: #121212;
    --theme-color: black;
    --background-color-elevation-1: rgba(255, 255, 255, 5%);
    --background-color-elevation-2: rgba(255, 255, 255, 7%);
    --background-color-elevation-2-disabled: rgba(255, 255, 255, 2%);
    --background-color-elevation-3: rgba(255, 255, 255, 8%);
    --background-color-elevation-4: rgba(255, 255, 255, 9%);
    --background-color-elevation-5: rgba(255, 255, 255, 11%);
    --background-color-elevation-6: rgba(255, 255, 255, 12%);
    --background-color-elevation-7: rgba(255, 255, 255, 14%);
    --background-color-elevation-8: rgba(255, 255, 255, 15%);
    --background-color-elevation-8-disabled: rgba(255, 255, 255, 3%);
    --box-shadow-elevation-1: none;
    --box-shadow-elevation-2: none;
    --box-shadow-elevation-3: none;
    --box-shadow-elevation-4: none;
    --box-shadow-elevation-5: none;
    --box-shadow-elevation-6: none;
    --box-shadow-elevation-7: none;
    --box-shadow-elevation-8: none;
    --background-color-hover: var(--background-color-elevation-1);
    --color-border: rgba(28,28,28, 80%);
}