menu {
    display: flex;
    column-gap: 1em;
    padding: 0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.menuItem {
    background: none;
    border: none;
    font-size: 18px;
}

header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 0 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--background-color-elevation-0);
    box-shadow: var(--box-shadow-elevation-1);
    transition: background-color .3s ease;
}

header:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color-elevation-1);
    pointer-events: none;

}

h1 {
    font-family: Montserrat, sans-serif;
    color: var(--color-primary);
}